:root {
  --main--radius: 5px;
  --main--padding: 5px;
}
body,
html {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1.5fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
  text-align: center;
}

nav {
  background-color: #8a5a44;
  grid-area: nav;
}

.sidebar {
  background-color: #9d6b53;
  grid-area: sidebar;
}

.main {
  background-color: #b07d62;
  grid-area: main;
  border-radius: var(--main--radius);
}

#content1,
#content2,
#content3 {
  background-color: #cd9777;
  border-radius: var(--main--radius);
}

#content1 {
  grid-area: content1;
  border-radius: var(--main--radius);
}

#content2 {
  grid-area: content2;
  border-radius: var(--main--radius);
}

#content3 {
  grid-area: content3;
  border-radius: var(--main--radius);
}

footer {
  background-color: #e6b8a2;
  grid-area: footer;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 0.2fr 4fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "nav nav"
      "sidebar main"
      "sidebar content1"
      "sidebar content2"
      "sidebar content3"
      "footer footer";
    grid-gap: 0.2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1rem 3fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
    grid-gap: 0.2rem;
    text-align: center;
  }
}
